<div class="container">
	<div class="show-main">
		
		<div class="show-info">
			<div class="row">
				<div class="col-xs-7">
					<h3><%= business.escape("name") %></h3>
					<ul class="address">
						<li><%= business.escape("street") %></li>
						<li><%= business.escape("city") %></li>
						<li>
							<%= business.escape("state") %>, <%= business.escape("zipcode") %>
						</li>
					</ul>
				</div>
				
				<div class="col-xs-5">
					<h3 class="rating">
						<% if (business.rating() === "No Reviews") { %>
							<h4> No Reviews </h4>
						<% } else { %>
							<% if (this.model.reviews() && this.model.reviews().length >0) {%>
							<% for(var i = 0; i < business.rating(); i++) {%>
								<span class="glyphicon glyphicon-star"></span>
						<% } %>
							(<%= numReviews %>)
							<% }} %>
					</h4>
					
					<% for(var i = 0; i < business.escape('price_range'); i++) { %>
						<span class="glyphicon glyphicon-usd"></span>
					<%}%>
					<ul class="tags">
						<% if (business.tags().length > 0) { %>
							<% business.tags().forEach(function (tag) { %>
							<li><%= tag.escape('name') %></li>
							<% }) %>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	<hr>
		<% if (business.images().length > 0) { %>
			<img src="<%= business.images().first().escape("url") %>" 
			class="profile-pic">
		<% } %>
		
		<div class="reviews"></div>
	</div>


	<div class="show-side">
	</div>
</div>