<script>
	String.prototype.capitalize = function () {
		return this[0].toUpperCase + this.slice(1);
	}
</script>


	<!--Carousel -->
		<div id="pic-carousel" class="carousel slide" data-ride="carousel">

			<% if (business.images().length > 0) { %>
				<div class="carousel-inner">
					<% for (var i = 0; i < business.images().length; i++) {%>
						<% if (i === 0){ %>
						<div class="item active">	
						<% } else {%>
				    <div class="item">
						<% } %>
				      <img src="<%= business.images().models[i].attributes.url %>" class="profile-pic">
				    </div>
					<% } %>
				</div>
			<% } %>
		  <!-- Controls -->
		  <a class="left carousel-control" href="#pic-carousel" role="button" 					data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#pic-carousel" role="button" 					data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	
	<div class="show-main">
		<button class="back">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</button>
		<div class="show-info">
			<div class="row">
				<div class="col-xs-7">
					<h3><%= business.escape("name") %>
						<% for(var i = 0; i < business.escape('price_range'); i++) { %>
						<span class="glyphicon glyphicon-usd"></span>
					<%}%></h3>
					<h4 class="rating">
						<% if (business.rating() === "No Reviews") { %>
							<h5> No Reviews </h5>
						<% } else { %>
							<% if (this.model.reviews() && this.model.reviews().length >0) {%>
							<% for(var i = 0; i < this.model.rating(); i++) {%>
								<span class="glyphicon glyphicon-star"></span>
						<% } %>
							<% }} %>
					</h4>
					<div class="tags">
						<% if (business.tags().length > 0) { %>
							<% for (var i = 0; i < business.tags().length; i++){ %>
								<% if (i === 0) {%>
							<%= business.tags().models[i].attributes.name %>
							<% } else { %>
								&middot <%= business.tags().models[i].attributes.name %>
							<% }} %>
						<% } %>
					</div>
				</div>
				
				<div class="col-xs-5">
				</br>
					<ul class="address">
						<li><%= business.escape("street") %></li>
						<li>
							<%= business.escape("city")%>
						</li>
						<li>
							<%= business.escape("state") %>, 
							<%= business.escape("zipcode") %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<hr>
	
	<div class="description">
		<div class="row">
			<div class="col-xs-3"><h5>Description</h5></div>
			<div class="col-xs-9"><%= business.escape('description') %></div>
		</div>
	</div>
		
		<hr>
<!--reviews -->
		<div class="reviews"></div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
				<form id="new-review">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="reviewModalLabel">Write A Review</h4>
	      </div>
	      <div class="modal-body">
						<textarea
							name="review[body]"
							id="review_body"></textarea>

						</br>
						<h5>Rating</h5>
						1
						<input 
							type="radio" 
							name="review[score]" 
							value="1" 
							class="rate">
							
						2
						<input 
							type="radio" 
							name="review[score]"
							value="2" 
							class="rate">
							3
						<input 
							type="radio" 
							name="review[score]" 
							value="3" 
							class="rate">
							4
						<input 
							type="radio" 
							name="review[score]" 
							value="4" 
							class="rate">
							5
						<input 
							type="radio" 
							name="review[score]" 
							value="5" 
							class="rate">
						</div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="review btn btn-default btn-sm">
					Post Review
					</button>
	      </div>
			</form>
	    </div>
	  </div>
	</div>
	
	<div class="show-side">
	</div>

