<script>
	String.prototype.capitalize = function () {
		return this[0].toUpperCase + this.slice(1);
	}
</script>

<div class="container">
	<div class="show-main">
		<button class="back">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</button>
		<div class="show-info">
			<div class="row">
				<div class="col-xs-7">
					<h3><%= business.escape("name") %></h3>
					<ul class="address">
						<li><%= business.escape("street") %></li>
						<li>
							<%= business.escape("city")%>
						</li>
						<li>
							<%= business.escape("state") %>, 
							<%= business.escape("zipcode") %>
						</li>
					</ul>
				</div>
				
				<div class="col-xs-5">
					<h3 class="rating">
						<% if (business.rating() === "No Reviews") { %>
							<h4> No Reviews </h4>
						<% } else { %>
							<% if (this.model.reviews() && this.model.reviews().length >0) {%>
							<% for(var i = 0; i < business.rating(); i++) {%>
								<span class="glyphicon glyphicon-star"></span>
						<% } %>
							(<%= numReviews %>)
							<% }} %>
					</h4>
					
					<% for(var i = 0; i < business.escape('price_range'); i++) { %>
						<span class="glyphicon glyphicon-usd"></span>
					<%}%>
					<ul class="tags">
						<% if (business.tags().length > 0) { %>
							<% business.tags().forEach(function (tag) { %>
							<li><%= tag.escape('name') %></li>
							<% }) %>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	<hr>
		<% if (business.images().length > 0) { %>
			<img src="<%= business.images().first().escape("url") %>" 
			class="profile-pic">
		<% } %>
		
		<div class="reviews"></div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
				<form id="new-review">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="reviewModalLabel">Write A Review</h4>
	      </div>
	      <div class="modal-body">
						<textarea
							name="review[body]"
							id="review_body"></textarea>

						</br>
						<label>Rating</label>
						<input 
							type="radio" 
							name="review[score]" 
							value="1" 
							class="rate">1</input>

						<input 
							type="radio" 
							name="review[score]"
							value="2" 
							class="rate">2</input>

						<input 
							type="radio" 
							name="review[score]" 
							value="3" 
							class="rate">3</input>

						<input 
							type="radio" 
							name="review[score]" 
							value="4" 
							class="rate">4</input>

						<input 
							type="radio" 
							name="review[score]" 
							value="5" 
							class="rate">5</input>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="review btn btn-default btn-sm">
					Post Review
					</button>
	      </div>
			</form>
	    </div>
	  </div>
	</div>
	
	<div class="show-side">
	</div>
</div>