<!DOCTYPE html>
<html>
<head>
  <title>Hotspots</title>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ6n1bfAcuN2zykZvctUrrDx7PKAh0ppU">
	</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">
	<!--header -->
	<%= render "layouts/header" %>
	
	<!--notices -->

	<%= yield %>


	<script>
		$(document).ready(function(){
		  Hotspots.initialize();
		});
	</script>

	</body>
</html>
