<!DOCTYPE html>
<html>
<head>
  <title>Hotspots</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--header -->
	
	<%= render "layouts/header" %>
	
	
<!--notices -->
<div class="errors">
	<% if flash[:notice] %>
		<ul>
			<% flash[:notice].each do |notice| %>
				<li><%= notice %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
